:root {
  --arrow-padding: none;
  --display-text: none;
  --display-start: none;
  --display-end: block;
  --svg-text: aliceblue;
  --start: 0px;
  --end: 95px;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  width: var(--end);
  height: 100vh;
  padding-top: 10px;
  background-color: rgb(212, 187, 40);
  position: fixed;
  text-align: center;
  animation: out-navbar 300ms;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  /* transition: width 1s ease; */
}

nav:hover {
  --arrow-padding: 30px;
  text-align: right;
  width: 400px;
  animation: in-navbar 300ms;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  /* --display-text: inline-block; */
}

nav:hover .arrow {
  transform: rotate(540deg);
  /* animation-name: rotate-object; */
  /* animation-duration: 700ms;+
  ; */
}

.arrow-container {
  padding: 0 10px 0 var(--arrow-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-title {
  font-weight: bold;
  font-size: 26px;
  color: aliceblue;
  display: var(--display-text);
}

.arrow {
  fill: rgb(245, 225, 203);
  margin: 0 15px;
  transform: rotate(0deg);
  transition: transform 700ms;
}

.navbar-nav {
  list-style: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin: auto 0;
}

.nav-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 80px;
}

.nav-svg {
  width: 65px;
  height: 65px;
  margin: 0 15px;
  fill: var(--svg-text);
}

.nav-text {
  display: none;
  margin: auto;
  text-align: center;
  color: var(--svg-text);
  font-size: 22px;
}

.nav-link:hover {
  background-color: aliceblue;
  --svg-text: rgb(212, 187, 40);
}

@keyframes in-navbar {
  0% {
    width: 95px;
    --display-text: none;
  }
  100% {
    width: 400px;
    --display-text: block;
    transition: width 1s ease;
  }
}

@keyframes out-navbar {
  0% {
    width: var(--start);
    --display-text: var(--display-start);
  }
  100% {
    width: var(--end);
    --display-text: var(--display-end);
    /* transition: width 1s ease; */
  }
}
