:root {
  --arrow-padding: none;
  --display-text: none;
  --svg-text: aliceblue;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  width: 95px;
  height: 100vh;
  padding-top: 10px;
  background-color: rgb(212, 187, 40);
  position: fixed;
  text-align: center;
}

nav:hover {
  --arrow-padding: 30px;
  text-align: right;
  animation-name: toggle-navbar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

nav:hover .arrow-container {
}

.svg {
  width: 65px;
  height: 65px;
}

.arrow-container {
  padding: 0 10px 0 var(--arrow-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-title {
  font-weight: bold;
  font-size: 26px;
  color: aliceblue;
  display: var(--display-text);
}

.arrow {
  fill: rgb(245, 225, 203);
  margin: 0 15px;
}

.navbar-nav {
  list-style: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin: auto 0;
}

.nav-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 80px;
}

.nav-svg {
  width: 65px;
  height: 65px;
  margin: 0 15px;
  fill: var(--svg-text);
}

.nav-text {
  display: var(--display-text);
  margin: auto;
  text-align: center;
  color: var(--svg-text);
  font-size: 22px;
}

.nav-link:hover {
  background-color: aliceblue;
  --svg-text: rgb(212, 187, 40);
}

.menu-container {
  width: 30px;
  padding: 30px 50px;
  margin-left: auto;
}

.chakra {
  animation: rotate-chakra infinite 7s linear;
  fill: rgb(212, 187, 40);
}

@keyframes rotate-chakra {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes toggle-navbar {
  0% {
    width: 95px;
    display: none;
  }
  100% {
    width: 400px;
    --display-text: block;
  }
}
