$display-txt: none;
$icon-align: center;

:root {
  --arrow-align: center;
  --icon-padding: 17px 0;
  --arrow-paddding: 0;
  --svg-size: 50px;
  --nav-color: rgb(254, 255, 255);
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  /* padding: 30px 60px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

nav {
  padding: 20px;
  padding-right: 50px;
  /* width: 100vw; */
}

a {
  cursor: pointer;
}

svg.logo {
  width: 60px;
  height: 60px;
  fill: rgb(90, 142, 219);
  padding: 0 20px;
  animation: rotate 20s infinite linear;
}

ul {
  /* list-style-type: none; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-left: 10px;
  /* flex-direction: row; */
}

li.nav-item {
  list-style: none;
}

li.nav-item:first-child {
  margin-right: auto;
}

a.nav-link {
  text-decoration: none;
  color: black;
}

div.title-container {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}

span.title {
  font-size: 22px;
  font-family: Montserrat;
}

span.nav-text {
  padding: 0 10px;
  color: #686868;
  padding: 0 2vw;
  /* font-size: 90px; */
}

main {
  /* position: fixed; */
}

.quote-anime-container {
  width: 830px;
  height: 470px;
  border: 2px;
  align-self: center;
  margin: 50px auto 150px auto;
}

.anime {
  /* margin: 0 auto; */
  padding-left: 23px;
}

.quote-container {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

span.quote {
  font-family: parisienne;
  font-size: 50px;
}

span.quote-teller {
  padding: 0 110px;
  /* padding-bottom: 50px; */
  font-family: Montserrat;
  font-size: 20px;
  color: #beb13a;
  /* margin-right: auto; */

  /* font-family: Helvetica, sans-serif; */
}

.gallery-button-container {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.gallery-button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  background-color: #beb13a;
  margin-bottom: 50px;
  /* box-sizing: none; */
}

footer {
  background: rgb(92, 90, 88);
  color: rgb(247, 236, 216);
  /* margin-top: 50px; */
  /* position: relative; */
  height: 15vh;
}

@keyframes rotate {
  from {
    transfrom: rotate(0deg);
  }

  25% {
    fill: #dbce5a;
  }

  50% {
    fill: #b34a4a;
  }

  75% {
    fill: orange;
  }

  to {
    transform: rotate(720deg);
    fill: rgb(90, 142, 219);
  }
}

// @import "./navbar.scss";
@import "./topbar.scss";
