html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

#root {
  height: 100vh;
}

a {
  cursor: pointer;
}

nav.nav-bar {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

svg.logo {
  width: 60px;
  height: 60px;
  fill: rgb(90, 142, 219);
  padding: 0 20px;
  animation: rotate 20s infinite linear;
}

li.nav-item {
  list-style: none;
  &:first-child {
    margin-right: auto;
  }
}

a.nav-link {
  text-decoration: none;
  color: black;
}

div.title-container {
  display: flex;
  align-items: center;
}

span.title {
  font-size: 22px;
  font-family: Montserrat;
}

span.nav-text {
  padding: 0 10px;
  color: #4d4848;
  padding: 0 2vw;
  font-weight: 600;
  font-size: large;
}

div.quote-anime-container {
  width: 830px;
  height: 470px;
  border: 2px;
  align-self: center;
  margin: 50px auto 150px auto;
}

img.anime {
  padding-left: 23px;
}

div.quote-container {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

span.quote {
  font-family: parisienne;
  font-size: 50px;
}

span.quote-teller {
  padding: 0 110px;
  font-family: Montserrat;
  font-size: 20px;
  color: #beb13a;
}

.gallery-button-container {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.gallery-button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  background-color: #beb13a;
  margin-bottom: 50px;
}

footer {
  background: rgb(92, 90, 88);
  color: rgb(247, 236, 216);
  height: 15vh;
}

@keyframes rotate {
  from {
    transfrom: rotate(0deg);
  }

  25% {
    fill: #dbce5a;
  }

  50% {
    fill: #b34a4a;
  }

  75% {
    fill: orange;
  }

  to {
    transform: rotate(720deg);
    fill: rgb(90, 142, 219);
  }
}
